html{
  box-sizing: content-box;
  * {
    box-sizing: inherit;
  }
}

html, body, #react-root, .app{
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.app{
  color: black;
  display: block;
  background-color: #f6f6f6;
}