.main-page{
  width: 800px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  padding: 20px;
}

.fetch-url{
  input{
    width: 500px;
  }
}